# **DELIVERY PERFORMANCE ANALYSIS**
## Step-by-Step Guide

In [14]:
#Importing Required Libraries
#Loading all the Python libraries we need for analysis
#initial imports
import pandas as pd
import numpy as np
import hvplot.pandas
import matplotlib.pyplot as plt
import os
import seaborn as sns
from pathlib import Path
from datetime import datetime, timedelta

# Set visualization style
plt.style.use('seaborn-v0_8-darkgrid')
sns.set_palette("husl")

In [13]:
#Loading CSV Data and Reading the CSV files into a pandas DataFrame

# Loading the data
# Define the file paths for your four CSV files
file_path_1 = 'delivery_data/sample_data1.csv'
file_path_2 = 'delivery_data/sample_data2.csv'
file_path_3 = 'delivery_data/sample_data3.csv'
file_path_4 = 'delivery_data/sample_data4.csv'

# Reading each CSV file into a separate DataFrame
df1 = pd.read_csv(file_path_1)
df2 = pd.read_csv(file_path_2)
df3 = pd.read_csv(file_path_3)
df4 = pd.read_csv(file_path_4)

# Joining the DataFrames into a single DataFrame
# Useing pandas.concat() function to concatenate DataFrames along a particular axis.
combined_df = pd.concat([df1, df2, df3, df4], ignore_index=True)

# Displaying basic information
print("Dataset loaded successfully!")
print(f"Total number of rows: {len(combined_df)}")
print(f"Total number of columns: {len(combined_df.columns)}")
print("\nFirst 5 rows of data:")

combined_df = combined_df.drop(combined_df.columns[0], axis=1)
combined_df.head()

Dataset loaded successfully!
Total number of rows: 59529
Total number of columns: 22

First 5 rows of data:

,BOOKING_DT,BOOKING_TM,ORIG,PKUP_ST_DT,PKUP_ST_TM,PKUP_END_DT,PKUP_END_TM,PKUP_ARRIVAL_ACT_DT,PKUP_ARRIVAL_ACT_TM,PKUP_DEPARTURE_ACT_DT,...,DEST,DLVERY_ST_DT,DLVERY_ST_TM,DLVERY_END_DT,DLVERY_END_TM,DLVERY_ARRIVAL_ACT_DT,DLVERY_ARRIVAL_ACT_TM,DLVERY_DEPARTURE_ACT_DT,DLVERY_DEPARTURE_ACT_TM,MILEAGE
0,20200903,1312,2075615,20200905,700,20200905,700,20200905,1015,20200905,...,1047897,20200909,1,20200910,130,20200910,102,20200910,352,1034
1,20201001,845,2059975,20201002,1100,20201002,1100,20201002,907,20201002,...,659549,20201005,1800,20201005,1800,20201005,1106,20201005,1107,828
2,20210216,1411,1041675,20210226,830,20210226,2000,20210226,1520,20210226,...,1135821,20210310,1700,20210310,1700,20210310,1532,20210310,1818,529
3,20200524,1000,1128953,20200526,700,20200527,2000,20200527,1334,20200527,...,992647,20200601,1100,20200601,1100,20200601,1040,20200601,1548,799
4,20200529,1458,1308541,20200605,1100,20200605,1100,20200605,1008,20200605,...,679813,20200608,1200,20200608,1200,20200608,1200,20200608,1200,1365