# **DELIVERY PERFORMANCE ANALYSIS**
## Step-by-Step Guide

In [14]:
#Importing Required Libraries
#Loading all the Python libraries we need for analysis
#initial imports
import pandas as pd
import numpy as np
import hvplot.pandas
import matplotlib.pyplot as plt
import os
import seaborn as sns
from pathlib import Path
from datetime import datetime, timedelta

# Set visualization style
plt.style.use('seaborn-v0_8-darkgrid')
sns.set_palette("husl")

In [16]:
#Loading CSV Data and Reading the CSV files into a pandas DataFrame

# Loading the data
# Define the file paths for your four CSV files
file_path_1 = 'delivery_data/sample_data1.csv'
file_path_2 = 'delivery_data/sample_data2.csv'
file_path_3 = 'delivery_data/sample_data3.csv'
file_path_4 = 'delivery_data/sample_data4.csv'

# Reading each CSV file into a separate DataFrame
df1 = pd.read_csv(file_path_1)
df2 = pd.read_csv(file_path_2)
df3 = pd.read_csv(file_path_3)
df4 = pd.read_csv(file_path_4)

# Joining the DataFrames into a single DataFrame
# Useing pandas.concat() function to concatenate DataFrames along a particular axis.
combined_df = pd.concat([df1, df2, df3, df4], ignore_index=True)

# Displaying basic information
print("Dataset loaded successfully!")
print(f"Total number of rows: {len(combined_df)}")
print(f"Total number of columns: {len(combined_df.columns)}")
print("\nFirst 5 rows of data:")

#combined_df = combined_df.drop(combined_df.columns[0], axis=1)
combined_df.head()

Dataset loaded successfully!
Total number of rows: 59529
Total number of columns: 22

First 5 rows of data:

,LOAD_ID,BOOKING_DT,BOOKING_TM,ORIG,PKUP_ST_DT,PKUP_ST_TM,PKUP_END_DT,PKUP_END_TM,PKUP_ARRIVAL_ACT_DT,PKUP_ARRIVAL_ACT_TM,...,DEST,DLVERY_ST_DT,DLVERY_ST_TM,DLVERY_END_DT,DLVERY_END_TM,DLVERY_ARRIVAL_ACT_DT,DLVERY_ARRIVAL_ACT_TM,DLVERY_DEPARTURE_ACT_DT,DLVERY_DEPARTURE_ACT_TM,MILEAGE
0,1,20200903,1312,2075615,20200905,700,20200905,700,20200905,1015,...,1047897,20200909,1,20200910,130,20200910,102,20200910,352,1034
1,2,20201001,845,2059975,20201002,1100,20201002,1100,20201002,907,...,659549,20201005,1800,20201005,1800,20201005,1106,20201005,1107,828
2,3,20210216,1411,1041675,20210226,830,20210226,2000,20210226,1520,...,1135821,20210310,1700,20210310,1700,20210310,1532,20210310,1818,529
3,4,20200524,1000,1128953,20200526,700,20200527,2000,20200527,1334,...,992647,20200601,1100,20200601,1100,20200601,1040,20200601,1548,799
4,5,20200529,1458,1308541,20200605,1100,20200605,1100,20200605,1008,...,679813,20200608,1200,20200608,1200,20200608,1200,20200608,1200,1365

In [19]:
#Exploring the Data
# ----------------------------------------------------------------------------
# Initial Data Exploration
# Looking at the structure and content of our data

# Show column names
print("Column Names:")
print(combined_df.columns.tolist())

# Show data types
print("\nData Types:")
print(combined_df.dtypes)

# Check for missing values
print("\nMissing Values Count:")
print(combined_df.isnull().sum())

Column Names:
['LOAD_ID', 'BOOKING_DT', 'BOOKING_TM', 'ORIG', 'PKUP_ST_DT', 'PKUP_ST_TM', 'PKUP_END_DT', 'PKUP_END_TM', 'PKUP_ARRIVAL_ACT_DT', 'PKUP_ARRIVAL_ACT_TM', 'PKUP_DEPARTURE_ACT_DT', 'PKUP_DEPARTURE_ACT_TM', 'DEST', 'DLVERY_ST_DT', 'DLVERY_ST_TM', 'DLVERY_END_DT', 'DLVERY_END_TM', 'DLVERY_ARRIVAL_ACT_DT', 'DLVERY_ARRIVAL_ACT_TM', 'DLVERY_DEPARTURE_ACT_DT', 'DLVERY_DEPARTURE_ACT_TM', 'MILEAGE']

Data Types:
LOAD_ID                     int64
BOOKING_DT                  int64
BOOKING_TM                  int64
ORIG                        int64
PKUP_ST_DT                  int64
PKUP_ST_TM                  int64
PKUP_END_DT                 int64
PKUP_END_TM                 int64
PKUP_ARRIVAL_ACT_DT        object
PKUP_ARRIVAL_ACT_TM        object
PKUP_DEPARTURE_ACT_DT      object
PKUP_DEPARTURE_ACT_TM      object
DEST                       object
DLVERY_ST_DT                int64
DLVERY_ST_TM                int64
DLVERY_END_DT               int64
DLVERY_END_TM               int64
DLVERY_ARRIVAL_ACT_DT      object
DLVERY_ARRIVAL_ACT_TM      object
DLVERY_DEPARTURE_ACT_DT    object
DLVERY_DEPARTURE_ACT_TM    object
MILEAGE                     int64
dtype: object

Missing Values Count:
LOAD_ID                    0
BOOKING_DT                 0
BOOKING_TM                 0
ORIG                       0
PKUP_ST_DT                 0
PKUP_ST_TM                 0
PKUP_END_DT                0
PKUP_END_TM                0
PKUP_ARRIVAL_ACT_DT        0
PKUP_ARRIVAL_ACT_TM        0
PKUP_DEPARTURE_ACT_DT      0
PKUP_DEPARTURE_ACT_TM      0
DEST                       0
DLVERY_ST_DT               0
DLVERY_ST_TM               0
DLVERY_END_DT              0
DLVERY_END_TM              0
DLVERY_ARRIVAL_ACT_DT      0
DLVERY_ARRIVAL_ACT_TM      0
DLVERY_DEPARTURE_ACT_DT    0
DLVERY_DEPARTURE_ACT_TM    0
MILEAGE                    0
dtype: int64

In [21]:
#Converting Date and Time Columns
# ----------------------------------------------------------------------------
# Converting Dates and Times to DateTime Format
# Combining date and time columns into proper datetime objects

# Booking datetime
combined_df['booking_datetime'] = pd.to_datetime(
    combined_df['BOOKING_DT'].astype(str) + ' ' + combined_df['BOOKING_TM'].astype(str).str.zfill(4),
    format='%Y%m%d %H%M',
    errors='coerce'
)

# Pickup start datetime
combined_df['pickup_start_datetime'] = pd.to_datetime(
    combined_df['PKUP_ST_DT'].astype(str) + ' ' + combined_df['PKUP_ST_TM'].astype(str).str.zfill(4),
    format='%Y%m%d %H%M',
    errors='coerce'
)

# Pickup end datetime
combined_df['pickup_end_datetime'] = pd.to_datetime(
    combined_df['PKUP_END_DT'].astype(str) + ' ' + combined_df['PKUP_END_TM'].astype(str).str.zfill(4),
    format='%Y%m%d %H%M',
    errors='coerce'
)

# Pickup actual arrival
combined_df['pickup_arrival_actual'] = pd.to_datetime(
    combined_df['PKUP_ARRIVAL_ACT_DT'].astype(str) + ' ' + combined_df['PKUP_ARRIVAL_ACT_TM'].astype(str).str.zfill(4),
    format='%Y%m%d %H%M',
    errors='coerce'
)

# Pickup actual departure
combined_df['pickup_departure_actual'] = pd.to_datetime(
    combined_df['PKUP_DEPARTURE_ACT_DT'].astype(str) + ' ' + combined_df['PKUP_DEPARTURE_ACT_TM'].astype(str).str.zfill(4),
    format='%Y%m%d %H%M',
    errors='coerce'
)

# Delivery start datetime
combined_df['delivery_start_datetime'] = pd.to_datetime(
    combined_df['DLVERY_ST_DT'].astype(str) + ' ' + combined_df['DLVERY_ST_TM'].astype(str).str.zfill(4),
    format='%Y%m%d %H%M',
    errors='coerce'
)

# Delivery end datetime (this is our deadline!)
combined_df['delivery_end_datetime'] = pd.to_datetime(
    combined_df['DLVERY_END_DT'].astype(str) + ' ' + combined_df['DLVERY_END_TM'].astype(str).str.zfill(4),
    format='%Y%m%d %H%M',
    errors='coerce'
)

# Delivery actual arrival
combined_df['delivery_arrival_actual'] = pd.to_datetime(
    combined_df['DLVERY_ARRIVAL_ACT_DT'].astype(str) + ' ' + combined_df['DLVERY_ARRIVAL_ACT_TM'].astype(str).str.zfill(4),
    format='%Y%m%d %H%M',
    errors='coerce'
)

# Delivery actual departure
combined_df['delivery_departure_actual'] = pd.to_datetime(
    combined_df['DLVERY_DEPARTURE_ACT_DT'].astype(str) + ' ' + combined_df['DLVERY_DEPARTURE_ACT_TM'].astype(str).str.zfill(4),
    format='%Y%m%d %H%M',
    errors='coerce'
)

print("✓ All datetime columns created successfully!")
print(f"\nExample of converted datetime:")
print(f"First delivery actual arrival: {combined_df['delivery_arrival_actual'].iloc[0]}")

✓ All datetime columns created successfully!

Example of converted datetime:
First delivery actual arrival: 2020-09-10 01:02:00

In [22]:
 # Cleaning the Data
# ----------------------------------------------------------------------------
# Removing Records with Missing Delivery Data
# We need complete delivery information for our analysis

# Count rows before cleaning
rows_before = len(combined_df)

# Remove rows where we don't have delivery arrival or delivery end time
combined_df = combined_df.dropna(subset=['delivery_arrival_actual', 'delivery_end_datetime'])

# Count rows after cleaning
rows_after = len(combined_df)
rows_removed = rows_before - rows_after

print(f"Rows before cleaning: {rows_before}")
print(f"Rows after cleaning: {rows_after}")
print(f"Rows removed: {rows_removed}")
print("\n✓ Data cleaning complete!")

Rows before cleaning: 59529
Rows after cleaning: 59100
Rows removed: 429

✓ Data cleaning complete!

In [24]:
# Calculating Key Metrics
# ----------------------------------------------------------------------------
# Calculating Performance Metrics
# Creating columns for delivery delay and on-time status

# Calculating delivery delay in hours
# Negative = early, Positive = late
combined_df['delivery_delay_hours'] = (combined_df['delivery_arrival_actual'] - combined_df['delivery_end_datetime']).dt.total_seconds() / 3600

# Determine if delivery was on time (True/False)
# On time = arrived before or at the end of the delivery window
combined_df['is_on_time'] = combined_df['delivery_delay_hours'] <= 0

# Calculate pickup dwell time (time spent at pickup location)
combined_df['pickup_dwell_hours'] = (combined_df['pickup_departure_actual'] - combined_df['pickup_arrival_actual']).dt.total_seconds() / 3600

print("✓ Performance metrics calculated!")
print(f"\nExample for first load:")
print(f"Delivery delay: {combined_df['delivery_delay_hours'].iloc[0]:.2f} hours")
print(f"On time? {combined_df['is_on_time'].iloc[0]}")
print(f"Pickup dwell time: {combined_df['pickup_dwell_hours'].iloc[0]:.2f} hours")

✓ Performance metrics calculated!

Example for first load:
Delivery delay: -0.47 hours
On time? True
Pickup dwell time: 3.37 hours